/.vscode/
/build/
/coverage/
/examples/

/src/**/__mocks__/
/src/**/__tests__/
*.log
*.tgz

.dockerignore
.eslintrc.json
.gitignore
.gitlab-ci.yml
.npmignore
Dockerfile
v8-compile-cache-0

/.gitignore
/.gitlab-ci.yml
/.npmignore
/.prettierrc
/jest.config.js

*.log
*.tgz

/tsconfig.dist.amd.json
/tsconfig.dist.system.json
/tsconfig.test.json
/tsconfig.json
/tsconfig.lib.commonjs.json
/tsconfig.lib.es2015.json
/tslint.json
