*.lock
*.log

.eslintrc.json
.gitignore
.gitlab-ci.yml
.npmignore

.vscode/
build/
coverage/
src/**/__mocks__/
src/**/__tests__/

npm-shrinkwrap.json
tsconfig.dist.amd.json
tsconfig.dist.system.json
tsconfig.test.json
tsconfig.json
tsconfig.lib.commonjs.json
tsconfig.lib.es2015.json
tslint.json
